<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.auribisesmyplayschool.myplayschool">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".adminApp.activity.AdminMainActivity" />
        <activity android:name=".adminApp.activity.ManageCourseActivity" />
        <activity android:name=".adminApp.activity.ManageBranchManagerActivity" />
        <activity android:name=".adminApp.activity.CollectionGraphActivity" />
        <activity android:name=".adminApp.activity.ChangeProfileActivity" />
        <activity android:name=".adminApp.activity.DigitalMessageActivity" />
        <activity android:name=".adminApp.activity.AdminAboutUsActivity" />
        <activity android:name=".adminApp.activity.AddCourseActivity" />
        <activity android:name=".adminApp.activity.ManageBranchActivity" />
        <activity android:name=".adminApp.activity.AddUserActivity" />
        <activity android:name=".adminApp.activity.ViewAssignedBranchesActivity" />
        <activity android:name=".adminApp.activity.AddBranchActivity" />
        <activity android:name=".adminApp.activity.BranchCourseActivity" />
        <activity android:name=".adminApp.activity.ManageBranchCourseActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.AddEnquiryActivity" />
        <activity android:name=".activity.ManageEnquiryActivity" />
        <activity android:name=".activity.ViewEnquiryDetailActivity" />
        <activity android:name=".activity.AddStudentActivity" />
        <activity android:name=".activity.ImageCaptureActivity" />
        <activity android:name=".activity.AddBatchActivity" />
        <activity android:name=".activity.BatchListActivity" />
        <activity android:name=".activity.CourseListActivity" />
        <activity android:name=".activity.TeachersListActivity" />
        <activity android:name=".activity.AssignInstructorActivity"></activity>
    </application>

</manifest>